h1 {
    color: red;
    font-size: 70px;
    font-family: "Lucida Handwriting";
    text-align: center;
}
h2{
    color: darkgreen;
    font-size: 50px;
}
p {
     color:black;
    text-align: center;
    font-size: 23px;
}